<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <!-- Custom UI dialogs for license verification and company info -->

  <Fragment>
    <!-- License Selection Dialog -->
  <Dialog Id="LicenseSelectionDlg" Width="370" Height="270" Title="WhiteBeard Pawn Plugin - License Setup">
    
    <Control Id="Title" Type="Text" X="20" Y="20" Width="330" Height="20" 
             FontId="TitleFont" Text="License File Setup" />
    
    <Control Id="Description" Type="Text" X="20" Y="45" Width="330" Height="40" 
             Text="Please provide your WhiteBeard Pawn Plugin license file. If you don't have one, contact WhiteBeard support." />

    <!-- License Path Display -->
    <Control Id="LicensePathLabel" Type="Text" X="20" Y="95" Width="100" Height="15" 
             Text="License File:" />
    
    <Control Id="LicensePathValue" Type="Text" X="130" Y="95" Width="220" Height="15" 
             Property="LICENSE_PATH" Text="[LICENSE_PATH]" />

    <!-- Browse Button -->
    <Control Id="BrowseLicenseButton" Type="PushButton" X="20" Y="125" Width="80" Height="18" 
             Text="Browse..." />

    <!-- Support Info -->
    <Control Id="SupportText" Type="Text" X="20" Y="155" Width="330" Height="60" 
             Text="If you don't have a license, please contact WhiteBeard:&#10;Website: www.whitebeard.ai&#10;Email: info@whitebeard.ai&#10;Phone: +1 646 422 8482" />

    <!-- Navigation Buttons -->
    <Control Id="BackButton" Type="PushButton" X="180" Y="230" Width="56" Height="18" 
             Text="&lt; Back" />
    
    <Control Id="NextButton" Type="PushButton" X="236" Y="230" Width="56" Height="18" 
             Text="Next &gt;" Default="yes" />
    
    <Control Id="CancelButton" Type="PushButton" X="292" Y="230" Width="56" Height="18" 
             Cancel="yes" Text="Cancel" />

  </Dialog>

  <!-- Company Info Display Dialog -->
  <Dialog Id="CompanyInfoDlg" Width="370" Height="250" Title="WhiteBeard Pawn Plugin - Company Information">
    
    <Control Id="Title" Type="Text" X="20" Y="20" Width="330" Height="20" 
             FontId="TitleFont" Text="Company Information" />
    
    <Control Id="Description" Type="Text" X="20" Y="45" Width="330" Height="30" 
             Text="The following company information was extracted from your license file:" />

    <!-- Company Name -->
    <Control Id="CompanyNameLabel" Type="Text" X="20" Y="85" Width="100" Height="15" 
             Text="Company Name:" />
    
    <Control Id="CompanyNameValue" Type="Text" X="130" Y="85" Width="220" Height="15" 
             Property="COMPANY_NAME" Text="[COMPANY_NAME]" />

    <!-- Company Email -->
    <Control Id="CompanyEmailLabel" Type="Text" X="20" Y="110" Width="100" Height="15" 
             Text="Company Email:" />
    
    <Control Id="CompanyEmailValue" Type="Text" X="130" Y="110" Width="220" Height="15" 
             Property="COMPANY_EMAIL" Text="[COMPANY_EMAIL]" />

    <!-- License Path -->
    <Control Id="LicensePathLabel2" Type="Text" X="20" Y="135" Width="100" Height="15" 
             Text="License File:" />
    
    <Control Id="LicensePathValue2" Type="Text" X="130" Y="135" Width="220" Height="15" 
             Property="LICENSE_PATH" Text="[LICENSE_PATH]" />

    <!-- Navigation Buttons -->
    <Control Id="BackButton" Type="PushButton" X="180" Y="210" Width="56" Height="18" 
             Text="&lt; Back" />
    
    <Control Id="NextButton" Type="PushButton" X="236" Y="210" Width="56" Height="18" 
             Text="Next &gt;" Default="yes" />
    
    <Control Id="CancelButton" Type="PushButton" X="292" Y="210" Width="56" Height="18" 
             Cancel="yes" Text="Cancel" />

  </Dialog>

  <!-- MT5 Directory Selection Dialog -->
  <Dialog Id="MT5DirectoryDlg" Width="370" Height="280" Title="WhiteBeard Pawn Plugin - MetaTrader 5 Directory">
    
    <Control Id="Title" Type="Text" X="20" Y="20" Width="330" Height="20" 
             FontId="TitleFont" Text="MetaTrader 5 Installation" />
    
    <Control Id="Description" Type="Text" X="20" Y="45" Width="330" Height="50" 
             Text="Please specify the directory where MetaTrader 5 is installed. This is typically C:\Program Files\MetaTrader 5 or C:\MetaTrader 5 Platform." />

    <!-- MT5 Path Display -->
    <Control Id="MT5PathLabel" Type="Text" X="20" Y="105" Width="100" Height="15" 
             Text="MT5 Directory:" />
    
    <Control Id="MT5PathValue" Type="Text" X="20" Y="125" Width="330" Height="15" 
             Property="MT5_ROOT" Text="[MT5_ROOT]" />

    <!-- Browse Button -->
    <Control Id="BrowseMT5Button" Type="PushButton" X="20" Y="150" Width="80" Height="18" 
             Text="Browse..." />

    <!-- Info Text -->
    <Control Id="InfoText" Type="Text" X="20" Y="180" Width="330" Height="40" 
             Text="The installer will copy PawnPlugin64.dll to the Plugins directory and your license file to C:\ProgramData\WhiteBeard." />

    <!-- Navigation Buttons -->
    <Control Id="BackButton" Type="PushButton" X="180" Y="240" Width="56" Height="18" 
             Text="&lt; Back" />
    
    <Control Id="NextButton" Type="PushButton" X="236" Y="240" Width="56" Height="18" 
             Text="Next &gt;" Default="yes" />
    
    <Control Id="CancelButton" Type="PushButton" X="292" Y="240" Width="56" Height="18" 
             Cancel="yes" Text="Cancel" />

  </Dialog>

  <!-- License Agreement Dialog -->
  <Dialog Id="LicenseAgreementDlg" Width="370" Height="320" Title="WhiteBeard Pawn Plugin - License Agreement">
    
    <Control Id="Title" Type="Text" X="20" Y="20" Width="330" Height="20" 
             FontId="TitleFont" Text="License Agreement" />
    
    <!-- License Text Box -->
    <Control Id="LicenseText" Type="ScrollableText" X="20" Y="45" Width="330" Height="220" 
             Text="END USER LICENSE AGREEMENT (EULA)&#10;&#10;Please read the following terms and conditions carefully before installing WhiteBeard Pawn Plugin.&#10;&#10;By clicking 'I Accept' below, you agree to be bound by the terms of this agreement.&#10;&#10;1. LICENSE GRANT&#10;WhiteBeard grants you a limited, non-exclusive, non-transferable license to use this plugin.&#10;&#10;2. RESTRICTIONS&#10;You may not reverse engineer, decompile, or attempt to derive the source code.&#10;&#10;3. TERMINATION&#10;This license is effective until terminated. Your rights terminate automatically upon breach.&#10;&#10;4. DISCLAIMER&#10;THIS SOFTWARE IS PROVIDED 'AS IS' WITHOUT WARRANTY OF ANY KIND.&#10;&#10;For full terms, visit: www.whitebeard.ai/license" />

    <!-- Acceptance Checkbox -->
    <Control Id="AgreeCheckbox" Type="CheckBox" X="20" Y="270" Width="330" Height="18" 
             Property="LICENSE_AGREEMENT_ACCEPTED" Text="I accept the terms and conditions" CheckBoxValue="1" />

    <!-- Navigation Buttons -->
    <Control Id="BackButton" Type="PushButton" X="180" Y="295" Width="56" Height="18" 
             Text="&lt; Back" />
    
    <Control Id="NextButton" Type="PushButton" X="236" Y="295" Width="56" Height="18" 
             Text="Install" Default="yes" />
    
    <Control Id="CancelButton" Type="PushButton" X="292" Y="295" Width="56" Height="18" 
             Cancel="yes" Text="Cancel" />

  </Dialog>

    <!-- Font definitions -->
    <TextStyle Id="TitleFont" FaceName="Tahoma" Size="14" Bold="yes" />

  </Fragment>

</Wix>
