<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  
  <Product 
    Id="*"
    Name="WhiteBeard Pawn Plugin"
    Language="1033"
    Version="1.0.0.0"
    Manufacturer="WhiteBeard"
    UpgradeCode="12345678-1234-1234-1234-123456789012">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes" />

    <!-- Standard Directories -->
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="WhiteBeard Pawn Plugin" />
    </StandardDirectory>

    <!-- Features Definition -->
    <Feature Id="ProductFeature" Title="WhiteBeard Pawn Plugin" Level="1">
      <ComponentRef Id="PluginFilesComponent" />
    </Feature>

    <!-- Custom Actions -->
    <Binary Id="CustomActionsBinary" SourcePath="CustomActions.dll" />

    <CustomAction 
      Id="TestAction"
      BinaryRef="CustomActionsBinary"
      DllEntry="InstallPluginFiles"
      Execute="deferred"
      Return="check" />

    <InstallExecuteSequence>
      <Custom Action="TestAction" After="InstallFiles" />
    </InstallExecuteSequence>

  </Product>

  <!-- Components Fragment -->
  <Fragment>
    <Component Id="PluginFilesComponent" Directory="INSTALLFOLDER">
      <File 
        Id="PluginDLL" 
        Name="PawnPlugin64.dll" 
        Source="Files\PawnPlugin64.dll"
        KeyPath="yes" />
    </Component>
  </Fragment>

</Wix>